<style>
    body{
        background-color: azure;
    }
</style>
<h1>Sign UP </h1>
<title><%=title%></title><br>
<form action="/user/create" method="POST">
    <label>Name</label><input type="text" name="name" placeholder="Name" required >
    <label>Email</label><input type="email" name="email" placeholder="Email" required>
    <label>Password</label> <input type="password" name="password" placeholder="Password" required>
    <label>Confirm_Password</label><input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" name="Sign Up">
</form>